<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>
			Bar Code
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-item>
		<ion-input placeholder="Enter barcode" (change)="this.findProduct($event.target.value)"></ion-input>
		<!-- Fixed Floating Action Button that does not scroll with the content -->
		<ion-button (click)="this.scanBarcode()">
			<ion-icon slot="icon-only" name="camera"></ion-icon>
		</ion-button>
	</ion-item>

	<ion-card *ngIf='this.model != null'>
		<ion-card-header>
			<ion-card-title>{{this.model.nome}}</ion-card-title>
		</ion-card-header>
		<ion-card-content>
			{{this.model.descricao}}
			<br> Preço: {{this.model.preco | currency:"BRL":true:"1.2" }}
		</ion-card-content>
	</ion-card>
	<ion-card *ngIf='this.model == null'>
		<ion-card-content>
      Produto não encontrado. <br>
      {{this.code}}
		</ion-card-content>
	</ion-card>

</ion-content>